<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>

    <title>VueJS</title>
    <style type="text/css">

        td {
            text-align: center;

        }

    </style>
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-light bg-info">
    <a class="navbar-brand" href="#">VueJs</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Link</a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
                   aria-haspopup="true" aria-expanded="false">
                    Technology
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="#">React</a>
                    <a class="dropdown-item" href="#">Angular</a>

                </div>
            </li>

        </ul>
        <form class="form-inline my-2 my-lg-0">
            <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        </form>
    </div>
</nav>

<div id="app">


    <main role="main" class="container">
        <h1 v-bind:style='style'>{{Title()}}</h1>
        <p>{{Description()}}</p>
        <div class="col-md-6 offset-md-3">
            <div class="card">
                <div class="card-body"> 
                	<h1 class="text-center bg-info">{{Winer}}</h1>
                    <h2 class="text-center text-danger">Turn Player : {{turn }}</h2>
                    <table class="table table-striped">

                        <tbody>

                        <tr v-for="row in board">
                            <td v-for="cell in row" class="text-info" v-on:click='setValue(cell)'
                                style="border: 5px solid rgb(79, 192, 141);" bgcolor="white">

                                <h2>{{cell.value}}</h2>


                            </td>


                        </tr>

                        </tbody>


                    </table>
                </div>
            </div>

        </div>
    </main>
</div>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/limonte-sweetalert2/7.29.2/sweetalert2.all.js"></script>
<script type="text/javascript">

    var app = new Vue({
        el: '#app',

        data: {

            turn: 'X',
            message: 'Liste Technology',

            Technology: ['Laravel', 'Symfony', 'CakePHP', 'Vuejs', 'ReactJs', 'Angular'],
            git: '<h6>github</h6>',
            NewTechno: "",
            dynamique_id: 'test_id',
            style: 'color:#4fc08d;text-align:center',
            Framework: 'Game  X O ',
            Desc: 'Tic-tac-toe, noughts and crosses, or Xs and Os is a paper-and-pencil game for two players, X and O, who take turns marking the spaces in a 3×3 grid. The player who succeeds in placing three of their marks in a horizontal, vertical, or diagonal row is the winner.',
            Msg: "Vue Js it's  Js Framwork SPA",
            compt: 1,
            Winer:"",

            board: [
                [{value: ''}, {value: ''}, {value: ''}],

                [{value: ''}, {value: ''}, {value: ''}],

                [{value: ''}, {value: ''}, {value: ''}]

            ],
            chances: [

                [[0, 0], [0, 1], [0, 2]],
                [[1, 0], [1, 1], [1, 2]],
                [[2, 1], [2, 1], [2, 2]],
                [[0, 0], [1, 0], [2, 0]],
                [[0, 1], [1, 1], [2, 1]],
                [[0, 2], [1, 2], [2, 2]],
                [[0, 0], [1, 1], [2, 2]],
                [[0, 2], [1, 1], [2, 0]]


            ]
        },
        methods:
            {
                remove: function (techno) {
                    var index = this.Technology.indexOf(techno)
                    this.Technology.splice(index, 1)
                },
                New: function () {
                    this.Technology.push(this.NewTechno)
                    this.NewTechno = ''
                },
                Title: function () {
                    return this.Framework
                },
                Description: function () {
                    return this.Desc
                },
                ShowMsg: function (event) {
                    console.log(event)
                    alert(this.Msg)
                },
                //////    game function
                setValue: function (cell) {
                    if (cell.value) {
                        alert('the cell is not  empty')
                        return;
                    }
                    cell.value = this.turn;
                    this.checkWiner();
                    this.turn = (this.turn == 'X') ? 'O' : 'X';
                },
                checkWiner: function () {
                    this.chances.forEach(function(chance,index){
                    	var check=chance.every(function(item){
                           //console.log(app.board[item[0]][item[1]].value)
                             return app.board[item[0]][item[1]].value==app.turn
                    	});
                    	if(check)
                    	{
                    		var win =(app.turn=="X")?'X wins ':'O wins ';
                    	//	this.$swal('Hello Vue world!!!');
                    	 app.Winer= win
                    	

                    	}

                    });
                },


            }
    })


</script>
</body>
</html>